
<div class="sb-nav-fixed">

  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html">Star Wars</a>

      <div class="sb-sidenav-menu">
          <div class="nav">
              <a class="nav-link" routerLink="/personaje">
                  <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                  Personaje
              </a>
              <a class="nav-link" routerLink="/personajes">
                  <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                  Personajes
              </a>
              <a class="nav-link" routerLink="/residentes">
                  <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                  Residentes
              </a>
              <!-- <a class="nav-link" routerLink="/empleados">
                  <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                  Empleados
              </a> -->
          </div>
      </div>

  </nav>
</div>


<router-outlet></router-outlet>